body {
  margin: 0;
  min-width: 320px;
  background-color: white;
  color: black;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
}
